#In class Assignment
##Find  a sport database
##After conduction initial EDA which include and not limited to:
##    1. Change at least two column names and complete at least one broadcast operation.
##        (make sure to make a copy of the new version of the dataset once in a while)
##Answer questions:
##  1. Who are the highest paid playes in the sport.
##  2. who is the most efficient player in that sport
##  3. Which is the better team in that Sport
##  4.Come up with 5 more questions and answers

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
mls = pd.read_csv('https://raw.githubusercontent.com/somezzedup/ML-Data/main/mls-salaries-2017.csv')

In [ ]:
mls2 = mls.copy();

In [ ]:
mls2.to_csv('/content/drive/MyDrive/MicroCrendential Data Analytics/Week2/mls2.csv')

In [ ]:
mls2.head()

  club last_name first_name position  base_salary  guaranteed_compensation
0  ATL   Almiron     Miguel        M    1912500.0               2297000.00
1  ATL   Ambrose      Mikey        D      65625.0                 65625.00
2  ATL      Asad      Yamil        M     150000.0                150000.00
3  ATL     Bloom       Mark        D      99225.0                106573.89
4  ATL  Carleton     Andrew        F      65000.0                 77400.00

In [ ]:
mls2.rename(columns={'CLUB':'Team','LAST_NAME':'Last Name'},inplace=True)

In [ ]:
mls2

    Team Last Name    first_name position  base_salary  guaranteed_compensation
0    ATL   Almiron        Miguel        M    1912500.0               2297000.00
1    ATL   Ambrose         Mikey        D      65625.0                 65625.00
2    ATL      Asad         Yamil        M     150000.0                150000.00
3    ATL     Bloom          Mark        D      99225.0                106573.89
4    ATL  Carleton        Andrew        F      65000.0                 77400.00
..   ...       ...           ...      ...          ...                      ...
611  VAN  Tornaghi         Paolo       GK      80000.0                 80000.00
612  VAN    Waston       Kendall        D     350000.0                368125.00
613  VAN  Williams       Sheanon        D     175000.0                184000.00
614  NaN   Babouli            Mo        F      54075.0                 54075.00
615  NaN    Ramajo  David Mateos        D     420000.0                453333.33

[616 rows x 6 columns]

#Broadcast Operation

In [ ]:
mls2['guaranteed_compensation'].mul(5)

0      11485000.00
1        328125.00
2        750000.00
3        532869.45
4        387000.00
          ...
611      400000.00
612     1840625.00
613      920000.00
614      270375.00
615     2266666.65
Name: guaranteed_compensation, Length: 616, dtype: float64

#1. Who are the highest paid players in the sport

In [ ]:
mls2[mls.base_salary == mls.base_salary.max()]

    club last_name first_name position  base_salary  guaranteed_compensation
401  ORL      Kaka        NaN        M    6660000.0                7167500.0

In [ ]:
mls2.nlargest(2,'base_salary')

    CLUB LAST_NAME first_name position  base_salary  guaranteed_compensation
401  ORL      Kaka        NaN        M    6660000.0                7167500.0
560  TOR   Bradley    Michael        M    6000000.0                6500000.0

##Second Data

In [ ]:
mlsSoccer = pd.read_csv('https://raw.githubusercontent.com/mesbasajib/soccer_data/main/all_goalkeepers.csv')

In [ ]:
mlsSoccer

                Player Club POS  GP  GS  MINS  ...  T  ShO    W%   Sv%  Year  Season
0            Mark Dodd  DAL  GK  31  31  2776  ...  0    6  54.8  68.1  1996     reg
1           Tony Meola  MET  GK  29  29  2610  ...  0    9  48.3  75.5  1996     reg
2       Mark Dougherty  TB   GK  28  28  2520  ...  0    3  60.7  66.1  1996     reg
3         Jorge Campos  LA   GK  24  24  2160  ...  0    4  54.2  75.2  1996     reg
4       Garth Lagerwey  KC   GK  23  22  1959  ...  0    3  52.2  62.4  1996     reg
...                ...  ...  ..  ..  ..   ...  ... ..  ...   ...   ...   ...     ...
2001   Adrian Zendejas  NaN  GK   0   0     0  ...  0    0   0.0   0.0  2020    post
2002   Mason Stajduhar  NaN  GK   0   0     0  ...  0    0   0.0   0.0  2020    post
2003       Brady Scott  NaN  GK   0   0     0  ...  0    0   0.0   0.0  2020    post
2004  Kendall McIntosh  NaN  GK   0   0     0  ...  0    0   0.0   0.0  2020    post
2005      Matt Bersano  NaN  GK   0   0     0  ...  0    0   0.0   0.0  2020    post

[2006 rows x 19 columns]

#2. who is the most efficient player in that sport

In [ ]:
player = mlsSoccer.nlargest(1,'MINS')
player.nlargest(1,'GA')

           Player Club POS  GP  GS  MINS  ...  T  ShO    W%   Sv%  Year  Season
615  Kasey Keller  SEA  GK  34  34  3060  ...  9    9  52.9  75.9  2011     reg

[1 rows x 19 columns]

#3. Which is the better team in the sport

In [ ]:
team = mlsSoccer.nlargest(1,'W')
team[['Club','W','W%']]

   Club   W    W%
73  LA   22  75.9

#4.Come up with 5 more questions and answers

In [ ]:
#1. Team that lost the most games
lost = mlsSoccer.nlargest(3, 'L')
lost[['Club','W','L','W%','Year']]

    Club   W   L    W%  Year
348  RSL   4  19  14.8  2005
679  COL   9  19  28.1  2012
46   MET  12  18  40.0  1997

In [ ]:
#2. Team that lost the less games
lost = mlsSoccer.nsmallest(3, 'L')
lost[['Club','W','L','W%','Year']]

   Club  W  L     W%  Year
22  DC   0  0    0.0  1996
45  DC   0  0    0.0  1996
67  DAL  2  0  100.0  1997

In [ ]:
#3. Team that won the most games
won = mlsSoccer.nlargest(3, 'W')
won[['Club','W','L','W%','Year']]

     Club   W  L    W%  Year
73    LA   22  7  75.9  1998
48    KC   21  8  72.4  1997
1080  MIA  21  6  67.7  2018

In [ ]:
#4. Team that won the less games
won = mlsSoccer.nsmallest(3, 'W')
won[['Club','W','L','W%','Year']]

   Club  W  L   W%  Year
21  DAL  0  1  0.0  1996
22  DC   0  0  0.0  1996
44  DAL  0  1  0.0  1996

In [ ]:
#5. The top goal scorer of the season
player.nlargest(1, 'GA')

           Player Club POS  GP  GS  MINS  ...  T  ShO    W%   Sv%  Year  Season
615  Kasey Keller  SEA  GK  34  34  3060  ...  9    9  52.9  75.9  2011     reg

[1 rows x 19 columns]